@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  background-color: black;
  color: white;
  /* background-color: #101010; */
  /* color: white; */
  /* background-color: #1d1d1d; */
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  /* declare a variable  */
  --theme-color: white;
  --theme-bc: black;
  --box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.5);
  --box-shadow-hover: 0 0 4px 0px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease-in-out;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--theme-color);
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  margin-inline: auto;
  margin-top: 4rem;
}

.website-header {
  z-index: 100;
  position: fixed;
  background-color: var(--theme-bc);
  color: var(--theme-color);
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  height: 4rem;
  width: 100%;
  padding: 1.2rem 0 1.2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* transition: all 0.5 ease-in-out; */
}

.yt-logo-img {
  width: 140px;
  margin-top: 5px;
  filter: brightness(2);
}

.search-bar-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  scale: 1.4;
  margin: 0 2rem 0 4rem;
  width: 100%;
}

.search-input {
  border: none;
  background-color: var(--theme-bc);
  padding: 0.2rem 1rem;
  color: var(--theme-color);
  border-radius: 5000px 0 0 5000px;
  width: 100%;
  outline: 0.1px solid rgb(34, 34, 34);
}

.search-btn {
  background-color: rgb(34, 34, 34);
  padding: 0.255rem 1rem;
  border-radius: 0 5000px 5000px 0;
  color: var(--theme-color);
  color: white;
  border: 0.1px solid rgb(34, 34, 34);
  cursor: pointer;
}

.voice-search {
  background-color: var(--theme-bc);
  color: var(--theme-color);
  border-radius: 50%;
  scale: 1;
  aspect-ratio: 1/1;
  border: none;
  cursor: pointer;
  margin: 0 0.5rem;
  height: 100%;
  padding: 0.3rem 0.6rem;
}

.voice-search:hover,
.upload-video:hover,
.yt-hamburger-menu:hover {
  background-color: rgb(34, 34, 34);
}

.auth-btn {
  /* remove default styles */
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  /* custom styles */
  padding: 12px 14px;
  margin: 0.5rem;
  color: rgb(66, 162, 252);
  font-size: 0.8rem;
  font-weight: 600;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif; */
  border: 0.5px solid rgba(96, 96, 96, 0.562);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.auth-btn:hover {
  /* box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5); */
  background-color: rgba(152, 198, 251, 0.266);
}
.auth-btn:active {
  /* box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5); */
  background-color: rgba(107, 144, 186, 0.266);
}

.side-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.upload-video {
  background-color: var(--theme-bc);
  color: var(--theme-color);
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: none;
  padding: 0.5rem;
}

.yt-left-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.yt-hamburger-menu {
  margin: 0 1rem 0 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
}

.sub-color {
  color: rgb(171, 170, 170);
}
.user-profile img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 30px;
  width: 30px;
  margin: 0 0.5rem;
  cursor: pointer;
  margin-top: 5px;
}


::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #6d6d6d;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5d5d5d; 
}


/* FOOTER */
footer {
  background-color: #d33e2a;
  color: black;
  padding: 1rem 1rem 0 1rem;
  font-size: 0.8rem;
  margin-top: 1rem;
}

footer .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .logo-text {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: black;
  letter-spacing: -1.5px;
  scale: 1 1.2;
  margin: 1rem 0;
}

footer .footer-description {
  margin: 2em 0;
  width: 75%;
  font-size: 1.1rem;
}

footer .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  color: black;
  margin: 0rem 1rem;
}

footer .socials a {
  color: black;
  scale: 2.5;
}

footer .footer-bottom-section {
  border-top: 1px solid black;
  padding: 0.5rem 0;
  text-align: center;
}

footer .copyright {
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .search-bar {
    display: none;
  }
  .voice-search {
    padding: 0.3rem 0.5rem;
  }
  .website-header {
    padding-inline: 0;
  }
  .videos {
    margin-right: 0.5rem;
  }
  #video-upload-form, #video-upload-form .upload-section {
    margin: 1rem 0.5rem;
  }
  #video-upload-form .form-section {
    flex-direction:column-reverse;
  }
  .video-upload-form {
    max-height: unset !important;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

}

@media screen and (max-width: 900px) {
  body {
    font-size: 0.8rem;
  }
  .yt-logo-img {
    width: 100px;
    margin-left: 0;
    padding-left: 0;
  }
  .yt-left-section-header {
    margin: 0 1rem;
  }
  .yt-hamburger-menu {
    margin: 0 0.5rem 0 0.5rem;
    display: none;
  }
  .user-profile img {
    height: 25px;
    width: 25px;
  }
  .auth-btn {
    padding: 10px 12px;
    margin: 0.5rem;
    font-size: 0.7rem;
  }

}

@media screen and (max-width: 600px) {
  footer .footer-main {
    flex-direction: column;
    justify-content: space-around;
  }

  footer .socials {
    margin-bottom: 2rem;
  }

  footer .copyright {
    display: block;
  }
}
