/********** Range Input Styles **********/
/*Range Reset*/
.volume-slider {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     /* width: 15rem; */
}
 
/* Removes default focus */
input[type="range"]:focus {
   outline: none;
}
 
/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: white;
    border-radius: 0.5rem;
    height: 0.3rem;
    /* max-width: 90%; */
    /* shorten the length of the track */
    /* margin-left: 0.5rem; */
    /* margin-right: 0.5rem; */
}
 
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; 
    appearance: none;
    margin-top: -3px;
 
    /*custom styles*/
    background-color: white;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
}

 
/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: white;
    border-radius: 0.5rem;
    height: 0.3rem;  
}
 
/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: white;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
}
 