{% load static %}
<div class="pt-sidebar-overlay" onclick="toggleSidebarMenu()"></div>

<div class="website-header">
  <div class="yt-left-section-header">
    <div
      class="yt-hamburger-menu sub-color"
      title="Menu"
      onclick="toggleSidebarMenu()"
    >
      <span class="material-icons"> menu </span>
    </div>
    <div
      class="website-name"
      title="PlayTube Home"
      onclick="window.location.href = '{% url 'play:home' %}'"
      style="
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
      "
    >
      <div
        class="pt-logo"
        style="width: 40px; height: 40px"
        data-url="{% static 'play/images/v2/PlayTube-icon.png' %}"
      ></div>
      <div id="playtube">PlayTube</div>
    </div>
  </div>
  <div class="search-bar">
    <form class="search-bar-form">
      <div id="pt-text-search">
        <div class="search-icon-left">
          <span class="material-icons"> search </span>
        </div>
        <input
          type="text"
          name="search_query"
          placeholder="Search"
          aria-label="search"
          class="search-input"
          autocomplete="off"
          aria-autocomplete="list"
        />
        <div
          class="clear-search-btn"
          onclick="clearSearchInput()"
          title="Clear search text"
        >
          <span class="material-icons"> clear </span>
        </div>
        <div class="search-suggestions-wrapper">
          search for something to get suggestions
        </div>
      </div>
      <button
        class="search-btn sub-color"
        aria-label="submit search"
        title="Search"
      >
        <span class="material-icons"> search </span>
      </button>
      <!-- voice input -->
      <button class="voice-search" title="Search with your voice" disabled>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 -960 960 960"
          width="24"
          fill="#ccc"
        >
          <path
            d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm-40 280v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Z"
          />
        </svg>
      </button>
    </form>
  </div>
  <div class="navbar-right-section">
    {% if not user.is_authenticated %}
    <div class="login-btn">
      <button
        class="auth-btn"
        onclick="window.location.href = '{% url 'play:login' %}'"
      >
        <span class="material-icons"> account_circle </span>
        Sign in
      </button>
    </div>
    {% else %}
    <div class="logout-btn">
      <button
        class="auth-btn"
        onclick="window.location.href = '{% url 'play:logout' %}'"
      >
        <span class="material-icons"> account_circle </span>
        Log out
      </button>
    </div>
    <a
      href="{% url 'play:upload-video' %}"
      class="upload-video-link"
      title="Upload"
    >
      <button class="upload-video">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30" FILL="#fff"><path d="M390.578-331.731h43.845v-128.308h127.923v-43.845H434.423v-127.923h-43.845v127.923H262.271v43.845h128.307v128.308Zm-277.076 148.96v-594.458h594.459v264.922L847.19-651.536v342.688l-139.229-139.23v265.307H113.502Zm43.845-43.845h506.769v-506.768H157.347v506.768Zm0 0v-506.768 506.768Z"/></svg> -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="30px"
          viewBox="0 0 24 24"
          width="30px"
          fill="#fff"
        >
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M15 8v8H5V8h10m1-2H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4V7c0-.55-.45-1-1-1z"
          />
        </svg>
      </button>
    </a>
    {% endif %} {% if user.is_authenticated %}
    <div class="user-profile" title="Profile">
      <a href="{% url 'play:channel-via-handle' handle=user.channel.handle %}">
        <img
          src="{{ user.channel.avatar.url }}"
          alt="profile pic"
          class="profile-pic"
          width="48px"
          height="48px"
        />
      </a>
    </div>
    {% endif %}
  </div>
</div>
