{% load custom_filters %}

<div id="ptp-player">
  <div class="ptp-ambient-light"></div>
  <div class="video-container paused" data-volume-level="high">
    <div class="thumbnail-img-container">
      <img class="thumbnail-img" />
    </div>
    <div class="video-title-container">
      <div class="video-title">
        <div class="channel-pic-container">
          <img
            src="{{ movie.channel.avatar.url }}"
            alt="Channel Pic"
            class="channel-img"
            width="35px"
            height="35px"
          />
        </div>
        <div class="video-name">{{ movie.title }} ></div>
      </div>
    </div>
    <div class="video-controls-container">
      <div class="timeline-container">
        <div class="timeline">
          <div class="buffered"></div>
          <div class="hover-preview"></div>
          <div class="preview-time-stamp">00:00:00</div>
          <img class="preview-img" />
          <div class="thumb-indicator"></div>
        </div>
      </div>
      <div class="controls">
        <button class="play-pause-btn">
          <svg class="play-icon" viewBox="2 2 20 20">
            <path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
          </svg>
          <!-- <svg class="pause-icon" viewBox="0 0 34 34">
                  <path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
                  </svg> -->
          <!-- <i class="material-icons md-48 play-icon">play_arrow</i> -->
          <i class="material-icons pause-icon">pause</i>
        </button>
        <!-- <button class="replay-btn">
                  <span class="material-icons replay-icon">replay</span>
              </button> -->
        <div class="volume-container">
          <button class="mute-btn">
            <!-- <span><i class="material-icons volume-high-icon">volume_up</i></span>
                  <span><i class="material-icons volume-low-icon">volume_dawn</i></span>
                  <span><i style="display: none" class="material-icons volume-muted-icon">volumex_off</i></span> -->
            <svg class="volume-high-icon" viewBox="-1 -1 26 26">
              <path
                fill="currentColor"
                d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z"
              />
            </svg>
            <svg class="volume-low-icon" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z"
              />
            </svg>
            <svg class="volume-muted-icon" viewBox="-1 -1 26 26">
              <path
                fill="currentColor"
                d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z"
              />
            </svg>
          </button>
          <input
            class="volume-slider"
            type="range"
            min="0"
            max="1"
            step="any"
            value="1"
          />
        </div>
        <div class="duration-container">
          <div class="current-time">0:00</div>
          /
          <div class="total-time">{{ movie.duration|get_duration_stamp }}</div>
        </div>
        <button class="captions-btn-container">
          <!-- <svg viewBox="0 0 24 24">
                  <path fill="currentColor" d="M18,11H16.5V10.5H14.5V13.5H16.5V13H18V14A1,1 0 0,1 17,15H14A1,1 0 0,1 13,14V10A1,1 0 0,1 14,9H17A1,1 0 0,1 18,10M11,11H9.5V10.5H7.5V13.5H9.5V13H11V14A1,1 0 0,1 10,15H7A1,1 0 0,1 6,14V10A1,1 0 0,1 7,9H10A1,1 0 0,1 11,10M19,4H5C3.89,4 3,4.89 3,6V18A2,2 0 0,0 5,20H19A2,2 0 0,0 21,18V6C21,4.89 20.1,4 19,4Z" />
                  </svg> -->
          <i class="material-icons captions-btn">subtitles</i>
        </button>
        <button class="settings-btn" onclick="toggleSettingsMenu()">
          <span class="material-icons">settings</span>
        </button>
        <button class="mini-player-btn">
          <!-- <svg viewBox="0 0 24 24">
                  <path fill="currentColor" d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"/>
                  </svg> -->
          <span
            ><i class="material-symbols-outlined">branding_watermark</i></span
          >
        </button>
        <button class="theater-btn">
          <svg class="tall" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"
            />
          </svg>
          <svg class="wide" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"
            />
          </svg>
        </button>
        <button class="full-screen-btn">
          <svg class="open" viewBox="2 2 22 22">
            <path
              fill="currentColor"
              d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"
            />
          </svg>
          <svg class="close" viewBox="2 2 22 22">
            <path
              fill="currentColor"
              d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"
            />
          </svg>
          <!-- <span><i class="material-icons open">fullscreen</i></span>
                  <span><i class="material-icons close">fullscreen_exit</i></span> -->
        </button>
      </div>
    </div>
    <div class="loading-spinner loading">
      <svg
        class="spinner"
        width="5rem"
        height="5rem"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          class="path"
          fill="none"
          stroke-width="6"
          stroke-linecap="round"
          cx="33"
          cy="33"
          r="30"
        ></circle>
      </svg>
    </div>
    <div class="ptp-settings">
      <div class="ptp-panel">
        <div class="ptp-panel-menu">
          <div class="ptp-menuitem" id="ptp-ambient-mode">
            <div class="ptp-menuitem-left">
              <div class="ptp-menuitem-icon">
                <svg viewBox="0 0 24 24" height="24" width="24">
                  <path
                    d="M21 7v10H3V7h18m1-1H2v12h20V6zM11.5 2v3h1V2h-1zm1 17h-1v3h1v-3zM3.79 3 6 5.21l.71-.71L4.5 2.29 3.79 3zm2.92 16.5L6 18.79 3.79 21l.71.71 2.21-2.21zM19.5 2.29 17.29 4.5l.71.71L20.21 3l-.71-.71zm0 19.42.71-.71L18 18.79l-.71.71 2.21 2.21z"
                    fill="white"
                  ></path>
                </svg>
              </div>
              <div class="ptp-menuitem-label">Ambient Mode</div>
            </div>
            <div class="ptp-current-ambient-mode">
              <div class="ptp-menuitem-toggle-checkbox">
                <input
                  type="checkbox"
                  id="ptp-ambient-mode-checkbox"
                  onchange="toggleAmbientMode()"
                />
                <label for="ptp-ambient-mode-checkbox"></label>
              </div>
            </div>
          </div>
          <div
            class="ptp-menuitem"
            id="ptp-quality"
            onclick="showSubMenu(this)"
          >
            <div class="ptp-menuitem-left">
              <div class="ptp-menuitem-icon">
                <span class="material-symbols-outlined"> tune </span>
              </div>
              <div class="ptp-menuitem-label">Quality</div>
            </div>
            <div class="ptp-menuitem-content ptp-current-quality">Auto</div>
          </div>
          {% if not movie.subtitle %}
          <div class="ptp-menuitem ptp-unavailable" id="ptp-subtitles">
            <div class="ptp-menuitem-left">
              <div class="ptp-menuitem-icon">
                <span class="material-symbols-outlined"> subtitles </span>
              </div>
              <div class="ptp-menuitem-label">Subtitles/CC</div>
            </div>
            <div class="ptp-menuitem-content ptp-current-subtitle">
              Unavailable
            </div>
          </div>
          {% else %}
          <div
            class="ptp-menuitem"
            id="ptp-subtitles"
            onclick="showSubMenu(this)"
          >
            <div class="ptp-menuitem-left">
              <div class="ptp-menuitem-icon">
                <span class="material-symbols-outlined"> subtitles </span>
              </div>
              <div class="ptp-menuitem-label">Subtitles/CC (1)</div>
            </div>
            <div class="ptp-menuitem-content ptp-current-subtitle">Off</div>
          </div>
          {% endif %}
          <div
            class="ptp-menuitem"
            id="ptp-playback-speed"
            onclick="showSubMenu(this)"
          >
            <div class="ptp-menuitem-left">
              <div class="ptp-menuitem-icon">
                <span class="material-symbols-outlined"> play_circle </span>
              </div>
              <div class="ptp-menuitem-label">Playback speed</div>
            </div>
            <div class="ptp-menuitem-content ptp-current-playback-speed">
              Normal
            </div>
          </div>
        </div>
        <div class="ptp-panel-submenu">
          <div class="ptp-submenu ptp-quality">
            <div class="ptp-submenu-back" onclick="getBackToMainMenu()">
              <span class="material-symbols-outlined"> chevron_left </span>
              <span>Quality</span>
            </div>
            <div
              class="ptp-submenu-item quality-auto selected"
              onclick="changeVideoQuality('auto')"
            >
              <span>Auto</span>
            </div>
            <div
              class="ptp-submenu-item quality-720p"
              onclick="changeVideoQuality('720p')"
            >
              <span>720p</span>
            </div>
            <div
              class="ptp-submenu-item quality-480p"
              onclick="changeVideoQuality('480p')"
            >
              <span>480p</span>
            </div>
            <div
              class="ptp-submenu-item quality-240p"
              onclick="changeVideoQuality('240p')"
            >
              <span>240p</span>
            </div>
          </div>
          <div class="ptp-submenu ptp-subtitles">
            <div class="ptp-submenu-back" onclick="getBackToMainMenu()">
              <span class="material-symbols-outlined"> chevron_left </span>
              <span>Subtitles/CC</span>
            </div>
            <div
              class="ptp-submenu-item subtitle-off selected"
              onclick="subtitlesHandler('Off')"
            >
              <span>Off</span>
            </div>
            <div
              class="ptp-submenu-item subtitle-english"
              onclick="subtitlesHandler('English')"
            >
              <span>English</span>
            </div>
          </div>
          <div class="ptp-submenu ptp-playback-speed">
            <div class="ptp-submenu-back" onclick="getBackToMainMenu()">
              <span class="material-symbols-outlined"> chevron_left </span>
              <span>Playback speed</span>
            </div>
            <div
              class="ptp-submenu-item pb_0-25"
              onclick="setPlaybackSpeed(0.25)"
            >
              <span>0.25</span>
            </div>
            <div
              class="ptp-submenu-item pb_0-5"
              onclick="setPlaybackSpeed(0.5)"
            >
              <span>0.5</span>
            </div>
            <div
              class="ptp-submenu-item pb_0-75"
              onclick="setPlaybackSpeed(0.75)"
            >
              <span>0.75</span>
            </div>
            <div
              class="ptp-submenu-item pb_normal selected"
              onclick="setPlaybackSpeed('normal')"
            >
              <span>Normal</span>
            </div>
            <div
              class="ptp-submenu-item pb_1-25"
              onclick="setPlaybackSpeed(1.25)"
            >
              <span>1.25</span>
            </div>
            <div
              class="ptp-submenu-item pb_1-5"
              onclick="setPlaybackSpeed(1.5)"
            >
              <span>1.5</span>
            </div>
            <div
              class="ptp-submenu-item pb_1-75"
              onclick="setPlaybackSpeed(1.75)"
            >
              <span>1.75</span>
            </div>
            <div class="ptp-submenu-item pb_2" onclick="setPlaybackSpeed(2)">
              <span>2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <video
      id="video"
      src="{{ stream_url }}/playlist.m3u8"
      autoplay
    ></video>
  </div>
</div>
