{% extends 'play/base.html' %}
{% load static %}

{% block content %}

{% block css %}
<style>
    .center {
        display: block;
        margin: 0 auto;
    }
</style>
{% endblock %}

<div class="login-form">
    <form method="POST" action="{% url 'play:login' %}">
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% csrf_token %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="auth-btn center"/>
    </form>
</div>

{% endblock %}