{% extends 'play/base.html' %}
{% load static %}

{% block html_head %}
    <link rel="stylesheet" href="{% static 'play/styles/upload.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="Upload Video - PlayTube" />
    <meta property="og:description" content="Upload your video to PlayTube" />
    <meta property="og:image" content="{{ http_protocol }}://{{ domain_name }}/api/logo" />
{% endblock %}

{% block twitter_card %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@playtube" />
    <meta name="twitter:title" content="Upload Video" />
    <meta name="twitter:description" content="Upload your video to PlayTube" />
    <meta name="twitter:image" content="{{ http_protocol }}://{{ domain_name }}/api/logo" />
{% endblock %}

{% block title %}Upload Video{% endblock %}

{% block content %}

<div class="video-upload-form">
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{% url 'play:upload-video' %}" id="video-upload-form">
        {% csrf_token %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <div class="form-title">
            Upload Video
        </div>
        
            <div class="form-section">
                <div class="col-1">
                    <div class="form-details-section">
                        <div class="section-name-main">
                            Details
                        </div>
                        <div class="text-field required">
                            <div class="field-name-with-help">
                                {{ form.title.label_tag }}
                                <span class="help-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#9f9f9f"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>
                                </span>
                            </div>
                            {{ form.title }}
                            <span class="char-left">0/100</span>
                            {% if form.title.errors %}
                                <div class="error-message">
                                    {{ form.title.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-field">
                            <div class="field-name-with-help">
                                {{ form.description.label_tag }}
                                <span class="help-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px" fill="#9f9f9f"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/></svg>
                                </span>
                            </div>
                            {{ form.description }}
                            <span class="char-left">0/5000</span>
                        </div>
        
                        <div class="small-section">

                            <div class="section-name-small">
                                Language and Release year
                            </div>
                            <div class="video-language-and-release-yr-section">
                                <div class="section-description">
                                    Select your video's language and add the year it was released.
                                </div>
                                <label for="id_language" class="video-language-label"></label>
                                <div class="flex-section">
                                    <div class="release-yr-label">
                                        {{ form.release_year.label_tag }}
                                        {{ form.release_year }}
                                    </div>
                                    {{ form.language }}

                                </div>
                            </div>

                            <div class="section-name-small">
                                Thumbnail
                            </div>
                            <div class="thumbnail-upload-section">
                                <div class="section-description">
                                    Upload a picture that shows what's in your video. PlayTube will automatically genrate and assign a thumbnail if you don't upload one. <a href="#" class="learn-more-link">Learn more</a>
                                    {% if form.thumbnail.errors %}
                                        <div class="error-message">
                                            {{ form.thumbnail.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                
                                <label for="id_thumbnail" class="thumbnail-upload-label">
                                    <div class="thumbnail-upload-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#9f9f9f"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 20H4V6h9V4H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-9h-2v9zm-7.79-3.17l-1.96-2.36L5.5 18h11l-3.54-4.71zM20 4V1h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V6h3V4h-3z"/></svg>
                                    </div>
                                    <div class="remove-thumbnail-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#9f9f9f"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>
                                    </div>
                                    <span class="thumbnail-upload-label-text">Upload thumbnail</span>
                                </label>
                                {{ form.thumbnail }}
                            </div>

                            <div class="subtitle-upload-section">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 0 24 24" width="28px" fill="#ccc"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM4 12h4v2H4v-2zm10 6H4v-2h10v2zm6 0h-4v-2h4v2zm0-4H10v-2h10v2z"/></svg>
                                </div>
                                <div class="subtitle-middle-section">
                                    <div class="section-name-small">Add subtitles</div>
                                    <div class="section-description">
                                        Reach a broader audience by adding subtitles to your video
                                    </div>
                                </div>
                                <div class="add-btn">
                                    <div class="done-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#42a2ff"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                                    </div>
                                    <label for="id_subtitle" class="subtitle-upload-label">
                                        <span class="add-span">ADD</span>
                                    </label>
                                    {{ form.subtitle }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="video-upload-section">
                       <div class="section-name-main">
                            Select video file
                       </div>

                        <label for="id_video_file" class="video-upload-label">
                            <div class="video-upload-animation-box">
                                <div class="upload-arrow-head">
                                </div>
                                <div class="upload-arrow-body">
                                </div>
                                <div class="upload-arrow-tail">
                                </div>
                            </div>
                        </label>

                        {{ form.video_file }}

                       <div class="section-description">
                            Your video must be in mp4/mkv format and no larger than 25MB. <a href="#" class="learn-more-link">Learn more</a>
                       </div>
                    </div>
                    <div class="video-genre-section">
                        <div class="section-name-small">
                            Category
                        </div>
                        <div class="section-description">
                            Add your video to a category so that viewers can find it more easily
                        </div>
                        <label for="id_genre" class="video-genre-label"></label>
                        {{ form.genre }}
                    </div>

                    <div class="video-visibility-section">
                        <div class="section-name-small">
                            Visibility
                        </div>
                        <div class="section-description">
                            Choose whether to make your video public, unlisted, or private. <a href="#" class="learn-more-link">Learn more</a>
                        </div>
                        <label for="id_visibility" class="video-visibility-label"></label>
                        {{ form.visibility }}
                    </div>

                    <div class="video-location-section">
                        <div class="section-name-small">
                            Video Location
                        </div>
                        <div class="section-description">
                            Choose a server to upload video to. <a href="#" class="learn-more-link">Learn more</a>
                        </div>
                        <label for="id_video_location" class="video-location-label"></label>
                        {{ form.video_location }}
                    </div>
                </div>
            </div>

        <div class="upload-section">
            <input type="submit" class="upload-btn" value="Upload" />
            <div class="progress-bar-container">
                <div class="progress-bar"></div>
            </div>
            <div class="progress-status">
            </div>
            <div class="success-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#42a2ff"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <!-- jquerry -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'play/js/upload.js' %}"></script>
{% endblock %}
