{% extends "play/base.html" %}
{% load custom_filters %}
{% load static %} 
{% block title %} {{ movie.title }} {% endblock %} 

{% block open_graph %} 
<meta property="og:site_name" content="PlayTube" />
<meta property="og:url" content="{{ http_protocol }}://{{ domain_name }}{{ request.path }}?v={{ video_id }}" />
<meta property="og:title" content="{{ movie.title }}" />
<meta property="og:description" content="{{ movie.description|linebreaks|truncatechars:50|safe }}" />
<meta property="og:image" content="{{ http_protocol }}://{{ domain_name }}/api/get-video-thumbnail/{{ video_id }}" />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />
<meta property="og:image:alt" content="{{ movie.title }}" />
<meta property="og:type" content="video.other" />
{% endblock %}

{% block twitter_card %}
<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@playtube" />
<meta name="twitter:title" content="{{ movie.title }}" />
<meta name="twitter:description" content="{{ movie.description|linebreaks|truncatechars:50|safe }}" />
<meta name="twitter:image" content="{{ http_protocol }}://{{ domain_name }}/api/get-video-thumbnail/{{ video_id }}" />
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'play/styles/watch.css' %}" />
<link rel="stylesheet" href="{% static 'play/styles/slider.css' %}" />
{% endblock %} 

{% block content %}
<div class="container">
  <div class="video-container paused" data-volume-level="high">
    <div class="thumbnail-img-container">
      <img class="thumbnail-img" />
    </div>
    <div class="video-title-container">
      <div class="video-title">
        <!-- <div class="material-icons">movie</div> -->
        <div class="channel-pic-container">
          <img src="{{ movie.channel.avatar.url }}" alt="Channel Pic" class="channel-img" width="35px" height="35px">
        </div>
        <div class="video-name">{{ movie.title }} ></div>
      </div>
    </div>
    <div class="video-controls-container">
      <div class="timeline-container">
        <div class="timeline">
          <div class="preview-time-stamp">00:00:00</div>
          <img class="preview-img" />
          <div class="thumb-indicator"></div>
        </div>
      </div>
      <div class="controls">
        <button class="play-pause-btn">
          <svg class="play-icon" viewBox="2 2 20 20">
            <path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
          </svg>
          <!-- <svg class="pause-icon" viewBox="0 0 34 34">
                <path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
                </svg> -->
          <!-- <i class="material-icons md-48 play-icon">play_arrow</i> -->
          <i class="material-icons pause-icon">pause</i>
        </button>
        <!-- <button class="replay-btn">
                <span class="material-icons replay-icon">replay</span>
            </button> -->
        <div class="volume-container">
          <button class="mute-btn">
            <!-- <span><i class="material-icons volume-high-icon">volume_up</i></span>
                <span><i class="material-icons volume-low-icon">volume_dawn</i></span>
                <span><i style="display: none" class="material-icons volume-muted-icon">volumex_off</i></span> -->
            <svg class="volume-high-icon" viewBox="-1 -1 26 26">
              <path
                fill="currentColor"
                d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z"
              />
            </svg>
            <svg class="volume-low-icon" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z"
              />
            </svg>
            <svg class="volume-muted-icon" viewBox="-1 -1 26 26">
              <path
                fill="currentColor"
                d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z"
              />
            </svg>
          </button>
          <input
            class="volume-slider"
            type="range"
            min="0"
            max="1"
            step="any"
            value="1"
          />
        </div>
        <div class="duration-container">
          <div class="current-time">0:00</div>
          /
          <div class="total-time">{{ movie.duration|get_duration_stamp }}</div>
        </div>
        <button class="captions-btn-container">
          <!-- <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M18,11H16.5V10.5H14.5V13.5H16.5V13H18V14A1,1 0 0,1 17,15H14A1,1 0 0,1 13,14V10A1,1 0 0,1 14,9H17A1,1 0 0,1 18,10M11,11H9.5V10.5H7.5V13.5H9.5V13H11V14A1,1 0 0,1 10,15H7A1,1 0 0,1 6,14V10A1,1 0 0,1 7,9H10A1,1 0 0,1 11,10M19,4H5C3.89,4 3,4.89 3,6V18A2,2 0 0,0 5,20H19A2,2 0 0,0 21,18V6C21,4.89 20.1,4 19,4Z" />
                </svg> -->
          <i class="material-icons captions-btn">subtitles</i>
        </button>
        <button class="speed-btn wide-btn">1x</button>
        <button class="settings-btn">
          <span class="material-icons">settings</span>
        </button>
        <button class="mini-player-btn">
          <!-- <svg viewBox="0 0 24 24">
                <path fill="currentColor" d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"/>
                </svg> -->
          <span
            ><i class="material-symbols-outlined">branding_watermark</i></span
          >
        </button>
        <button class="theater-btn">
          <svg class="tall" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"
            />
          </svg>
          <svg class="wide" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"
            />
          </svg>
        </button>
        <button class="full-screen-btn">
          <svg class="open" viewBox="2 2 22 22">
            <path
              fill="currentColor"
              d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"
            />
          </svg>
          <svg class="close" viewBox="2 2 22 22">
            <path
              fill="currentColor"
              d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"
            />
          </svg>
          <!-- <span><i class="material-icons open">fullscreen</i></span>
                <span><i class="material-icons close">fullscreen_exit</i></span> -->
        </button>
      </div>
    </div>
    <div class="loading-spinner loading">
      <svg class="spinner" width="5rem" height="5rem" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
     </svg>
    </div>
    <video
      id="video"
      src="{{ http_protocol }}://{{ domain_name }}/api/get-video-stream/{{ video_id }}/playlist.m3u8"
      autoplay
    >
      <track
        kind="captions"
        label="English captions"
        src="#"
        srclang="en"
        default
      />
    </video>
  </div>

  <div class="video-meta-data-container">
    <div class="video-title-main"> {{ movie.title }}</div>
    <div class="channel-meta-data-container">
      <div class="channel-pic-container">
        <img src="{{ movie.channel.avatar.url }}" alt="Channel Pic" class="channel-img" width="50px" height="50px">
      </div>
      <div class="channel-name">{{ movie.channel.name }}</div>
      <div class="subscribe">Subscribe</div>
    </div>
    <div class="video-desc">
      {{ movie.description| linebreaks | urlizetrunc:100 | safe }}
    </div>
  </div>
</div>

{% endblock %} 

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
  const videoSrc = video.src;
  let video_duration = "{{ movie.duration }}";
  let video_id = "{{ video_id }}";
  let channel_id = "{{ channel_id }}";
  let t = "{{ t }}";
  const domain_name = "{{ domain_name }}";
  const http_protocol = "{{ http_protocol }}";

  if (Hls.isSupported()) {
    const hls = new Hls();

    hls.loadSource(videoSrc);
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, () => {
      video.play();
    });
  } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
    video.src = videoSrc;
    video.addEventListener("loadedmetadata", () => {
      video.play();
    });
  }

  // start video from the time t
  if (t !== "0") {
    video.addEventListener("loadedmetadata", () => {
      video.currentTime = t;
    });
  }
  // send post request to update watch history
  function updateWatchTime(currentTime) {
    $.ajax({
      type: "POST",
      url: `${http_protocol}://${domain_name}/api/update-watch-time/`,
      data: {
        video_id: video_id,
        channel_id: channel_id,
        timestamp: currentTime,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
    });
  }

  // update views
  function updateViews() {
    $.ajax({
      type: "POST",
      url: `${http_protocol}://${domain_name}/api/update-views/`,
      data: {
        video_id: video_id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
    });
  }

  // update views after video engagement of atleast 10 percent of the video duration
  // i.e. if the sum of all segments of video.played is greater than 0.1
  function handleVideoEngagement() {
    let totalPlayed = 0;
    for (let i = 0; i < video.played.length; i++) {
      totalPlayed += video.played.end(i) - video.played.start(i);
    }
    if (totalPlayed > 0.1 * video.duration) {
      console.log(totalPlayed);
      updateViews();
      // avoid updating views again
      video.removeEventListener("timeupdate", handleVideoEngagement);
    }
  }
  video.addEventListener("timeupdate", handleVideoEngagement);


  {% if user.is_authenticated %}
    // update watch history after every 5 seconds; send post request to update watch history
    let timestamp = 0;
    setInterval(() => {
      let currentTime = video.currentTime;
      if (currentTime !== timestamp) {
        timestamp = currentTime;
        updateWatchTime(currentTime);
      }
    }, 5000);
  {% endif %}
</script>
<script src="{% static 'play/js/watch.js' %}"></script>
{% endblock %}
